:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

  
  .form {
    width: 20rem;
  }
  
  .form-control {
    display: block;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cross-validation-error-message {
    color: #a58b8b;
    border: 1px solid #ff00002b;
    border-radius: 5px;
    padding: 5px;
    background-color: #fa807238;
  }

}
  