:host {
    .owners-body {
        border: 1px solid #eee;
        margin: 5px;
    }
    img {
        height: 40px;
        width: auto;
        display: block;
        border: 1px solid salmon;
        border-radius: 10px;
        padding: 1px;
    }
    
}